This problem requires calculating a similarity score between the two columns, with it calculated by multiplying a number from the first column by the number of times it shows up in the second column and then summing up these individual similarity contributions. In general, I need to know what numbers are present in the first column and then loop through the second column updating the counters for each of those numbers.

In [1]:
import pandas as pd

#CREATING A DATAFRAME FROM THE INPUT FILE
full_input = pd.DataFrame([line.strip().split('   ') for line in open('input.txt', 'r')])
full_input = full_input.astype(int)
full_input

         0      1
0    18944  47230
1    94847  63037
2    93893  35622
3    37174  43365
4    77982  51397
..     ...    ...
995  83605  21276
996  51080  32589
997  16575  21128
998  31651  49166
999  66721  94774

[1000 rows x 2 columns]

Firstly I will determine the set of unique numbers in the input.

In [5]:
#CREATING A SET FOR THE NUMBERS IN THE FIRST COLUMN
unique_numbers=set()
unique_numbers.update(full_input.loc[:,0])
unique_numbers

{92161,
 10242,
 79880,
 57354,
 55306,
 24588,
 88076,
 49166,
 92182,
 24599,
 59416,
 96280,
 38943,
 28707,
 96293,
 28710,
 24615,
 30760,
 59435,
 81964,
 38963,
 75830,
 69689,
 14394,
 59452,
 79933,
 84031,
 67647,
 24639,
 51271,
 96328,
 45131,
 51275,
 20556,
 20558,
 32847,
 88146,
 86102,
 12378,
 92251,
 36957,
 22627,
 47208,
 53353,
 65642,
 34920,
 77933,
 98420,
 32885,
 71797,
 51320,
 36986,
 59515,
 26746,
 61565,
 47230,
 75907,
 34949,
 80008,
 43145,
 14474,
 69772,
 67726,
 84111,
 75923,
 37012,
 92309,
 18584,
 61594,
 69787,
 90267,
 77979,
 77982,
 34976,
 37026,
 67747,
 61603,
 32935,
 75943,
 51369,
 86186,
 63671,
 73911,
 67768,
 24762,
 86206,
 69822,
 16575,
 53441,
 59588,
 94405,
 43208,
 96459,
 57548,
 63692,
 16588,
 92370,
 16601,
 80091,
 84711,
 73953,
 10471,
 84200,
 47336,
 24811,
 76012,
 26861,
 20715,
 24815,
 33006,
 57587,
 76019,
 37107,
 92406,
 12534,
 30966,
 14585,
 22777,
 39163,
 98551,
 63742,
 14591,
 94463,
 59649,
 43272,
 82185,
 88328,
 20747,
 35083,
 10510,
 71952,
 53520,
 76050,
 28946,
 80149,
 90391,
 88343,
 74009,
 59675,
 37148,
 63772,
 31009,
 20774,
 90408,
 53545,
 61738,
 55594,
 88365,
 16685,
 39217,
 57653,
 37174,
 96568,
 37179,
 88385,
 96578,
 69955,
 14657,
 57669,
 67909,
 43335,
 24899,
 63818,
 96589,
 41294,
 92494,
 43344,
 76115,
 96596,
 84307,
 41302,
 49496,
 80217,
 14683,
 26972,
 90462,
 57696,
 22882,
 65896,
 82281,
 47465,
 98665,
 33131,
 24942,
 29043,
 43379,
 82298,
 16766,
 39296,
 67969,
 12682,
 57738,
 70032,
 82320,
 84368,
 18834,
 22932,
 63895,
 18839,
 88473,
 67994,
 16791,
 20892,
 20893,
 68000,
 18849,
 41380,
 33189,
 88484,
 78249,
 78253,
 76205,
 31154,
 25012,
 84405,
 18870,
 68023,
 74166,
 43451,
 18876,
 22974,
 47553,
 10691,
 80324,
 51653,
 70085,
 43461,
 14790,
 22985,
 63947,
 68046,
 29134,
 41424,
 39376,
 53711,
 39381,
 35291,
 59870,
 68062,
 16879,
 51697,
 25077,
 63990,
 86517,
 53753,
 27130,
 18944,
 18945,
 64008,
 47625,
 92682,
 98827,
 86536,
 10765,
 96786,
 70164,
 82457,
 10780,
 80413,
 23070,
 59937,
 10787,
 61988,
 37414,
 10791,
 18984,
 70185,
 98863,
 12847,
 27185,
 43567,
 35379,
 80436,
 78383,
 68155,
 74303,
 12864,
 86594,
 39492,
 90693,
 45638,
 19014,
 98886,
 88652,
 49742,
 31311,
 57936,
 94802,
 90706,
 53850,
 82541,
 82542,
 37491,
 88696,
 57979,
 94845,
 90750,
 76415,
 94847,
 74372,
 43654,
 47751,
 21126,
 12934,
 21129,
 23180,
 76430,
 12943,
 39568,
 70286,
 98962,
 39570,
 60047,
 19094,
 12951,
 47768,
 86680,
 21148,
 27293,
 47775,
 76448,
 92837,
 60072,
 21164,
 19117,
 17069,
 96943,
 90802,
 29364,
 64181,
 47797,
 15034,
 27327,
 64192,
 94913,
 53953,
 78530,
 62148,
 66249,
 82634,
 45773,
 37583,
 33490,
 80594,
 39634,
 17109,
 94937,
 74457,
 17116,
 74461,
 66273,
 19170,
 47844,
 23269,
 51942,
 88807,
 72424,
 43751,
 31462,
 94955,
 76517,
 96999,
 49897,
 13039,
 70384,
 19185,
 84721,
 29428,
 49909,
 68342,
 92919,
 99070,
 58113,
 39688,
 45833,
 70411,
 62221,
 43790,
 84749,
 76558,
 80657,
 47889,
 62227,
 62223,
 86806,
 49943,
 66329,
 51993,
 21273,
 27419,
 80669,
 54046,
 27422,
 29472,
 17184,
 58150,
 11047,
 70440,
 86828,
 90926,
 21295,
 13105,
 23346,
 88884,
 70453,
 33596,
 56125,
 25408,
 31556,
 52037,
 31559,
 25417,
 99146,
 93006,
 41811,
 52053,
 54102,
 60247,
 97112,
 68441,
 56158,
 15201,
 58212,
 29541,
 29542,
 78695,
 19301,
 39795,
 31605,
 50038,
 50040,
 64376,
 80764,
 11134,
 31615,
 86910,
 19333,
 41866,
 41867,
 95116,
 93075,
 54164,
 35738,
 88987,
 50077,
 35744,
 13216,
 17314,
 31651,
 29607,
 97192,
 82857,
 74667,
 54188,
 52140,
 86959,
 33712,
 19377,
 78771,
 21428,
 21429,
 23478,
 97207,
 29624,
 84923,
 68540,
 56253,
 35774,
 37822,
 91075,
 70595,
 46025,
 13257,
 41935,
 46034,
 99282,
 33749,
 68568,
 23514,
 31706,
 97245,
 35806,
 76766,
 78817,
 68578,
 64482,
 87013,
 52198,
 89063,
 74726,
 87017,
 70634,
 31720,
 52201,
 82926,
 15344,
 93168,
 78840,
 97273,
 93176,
 21499,
 39932,
 60411,
 91134,
 21503,
 23552,
 15361,
 62466,
 52221,
 13317,
 60422,
 93191,
 41992,
 23558,
 91146,
 58394,
 23584,
 11297,
 42017,
 97318,
 52264,
 46123,
 31788,
 17452,
 17454,
 87086,
 64565,
 50231,
 85049,
 29753,
 35899,
 62524,
 74813,
 64574,
 31809,
 42049,
 72773,
 44104,
 40010,
 78923,
 64588,
 95309,
 46159,
 93264,
 44114,
 99414,
 83031,
 15447,
 60506,
 42078,
 29790,
 50279,
 19560,
 56429,
 74862,
 42094,
 48238,
 35949,
 64630,
 42104,
 29816,
 95354,
 58498,
 17540,
 72838,
 38023,
 38024,
 11406,
 54415,
 81044,
 64661,
 27798,
 70807,
 21657,
 54425,
 91291,
 58522,
 72862,
 19615,
 89247,
 66721,
 48293,
 29863,
 64681,
 23721,
 89260,
 36014,
 15536,
 25777,
 79024,
 97461,
 40119,
 23735,
 15549,
 17602,
 93379,
 19655,
 60619,
 27852,
 42188,
 81105,
 91347,
 46299,
 31965,
 54495,
 15584,
 11489,
 83169,
 15588,
 31977,
 81136,
 11513,
 42234,
 58619,
 56571,
 48382,
 58622,
 99586,
 66822,
 44296,
 83210,
 48398,
 77071,
 70928,
 95505,
 89364,
 46357,
 17686,
 68886,
 72984,
 87316,
 79130,
 56604,
 77086,
 36128,
 29984,
 36131,
 66851,
 21795,
 66852,
 70951,
 29993,
 99626,
 70964,
 64821,
 81206,
 56630,
 34102,
 19773,
 54593,
 87362,
 40260,
 64837,
 62792,
 30025,
 46410,
 56650,
 19789,
 95566,
 32081,
 46419,
 52564,
 54612,
 17748,
 73047,
 11612,
 34140,
 42333,
 36194,
 77155,
 91490,
 38245,
 44389,
 23917,
 13696,
 52610,
 46470,
 62855,
 87431,
 99730,
 19869,
 58781,
 23967,
 77219,
 13733,
 60841,
 46509,
 93614,
 17838,
 91565,
 26033,
 36271,
 62901,
 89526,
 42424,
 83384,
 52670,
 58816,
 85441,
 95681,
 71105,
 19908,
 64967,
 71111,
 87497,
 28106,
 28105,
 34252,
 30157,
 97743,
 50641,
 13778,
 95699,
 73172,
 54749,
 13791,
 85473,
 32228,
 21988,
 91623,
 71145,
 79340,
 46573,
 34293,
 48630,
 73210,
 22010,
 50686,
 22015,
 67073,
 48643,
 36356,
 93701,
 93702,
 30213,
 56840,
 73223,
 73221,
 30220,
 99854,
 50706,
 56852,
 50709,
 91673,
 81435,
 52764,
 44571,
 93725,
 91679,
 63005,
 46625,
 40482,
 48676,
 17958,
 26157,
 75311,
 87601,
 15921,
 58932,
 65077,
 17973,
 22074,
 54845,
 97854,
 58941,
 54847,
 20037,
 52806,
 42570,
 97867,
 65104,
 13904,
 50769,
 91732,
 91736,
 93786,
 71258,
 52826,
 13916,
 48735,
 69216,
 38495,
 95841,
 71275,
 13936,
 42608,
 89714,
 65140,
 75382,
 34424,
 46712,
 85626,
 54906,
 67196,
 40572,
 67198,
 15999,
 79488,
 71296,
 87675,
 93831,
 79495,
 20104,
 79498,
 77458,
 97939,
 46740,
 44691,
 83605,
 54935,
 11928,
 65181,
 81566,
 87711,
 73375,
 75426,
 30372,
 87719,
 93864,
 40618,
 16042,
 20139,
 34474,
 13999,
 81585,
 85686,
 30393,
 42685,
 11965,
 65214,
 79552,
 16067,
 61123,
 93893,
 30406,
 28359,
 24261,
 32457,
 83658,
 11979,
 44750,
 85711,
 42707,
 91865,
 87770,
 67290,
 85724,
 50909,
 77537,
 81634,
 46820,
 65252,
 46823,
 93931,
 81644,
 57069,
 42737,
 46833,
 87795,
 14067,
 30453,
 63218,
 57080,
 34552,
 40699,
 18171,
 14075,
 98043,
 69377,
 20226,
 44802,
 26369,
 16129,
 32519,
 79623,
 28428,
 55054,
 24334,
 22288,
 91923,
 85783,
 73496,
 30491,
 12061,
 77598,
 71456,
 63265,
 34596,
 71462,
 46888,
 32552,
 12075,
 59180,
 83758,
 44850,
 83764,
 91958,
 89912,
 63292,
 42812,
 30526,
 40766,
 65341,
 61248,
 44862,
 63297,
 12100,
 75589,
 61254,
 89923,
 79684,
 75593,
 28495,
 16209,
 63314,
 16215,
 87897,
 48986,
 51035,
 91998,
 48991,
 48993,
 96098,
 65381,
 71528,
 57192,
 28524,
 57197,
 75629,
 69488,
 75637,
 16247,
 57211,
 69499,
 75645,
 14206,
 12159,
 44934,
 75656,
 79753,
 51080,
 42892,
 87949,
 46991,
 69524,
 94103,
 73625,
 49050,
 28571,
 38812,
 61349,
 87973,
 65447,
 32680,
 36777,
 47020,
 81837,
 34734,
 42927,
 83887,
 42932,
 22452,
 38841,
 71609,
 83900,
 98237,
 85954,
 10178,
 85959,
 77769,
 55243,
 14284,
 22477,
 57293,
 73681,
 83921,
 10197,
 22485,
 92119,
 22488,
 63448,
 53210,
 75735,
 79841,
 10212,
 20453,
 10213,
 26599,
 53224,
 45032,
 65511,
 47078,
 63473,
 30705,
 12277,
 40950,
 75766,
 57336,
 32766,
 79871}

Now we should start counting how often any of these numbers appear in the second column.

In [21]:
#creating a dataframe with the unique numbers
counters=pd.DataFrame()
counters.index=list(unique_numbers)
listofzeros=[0]*len(counters.index)
counters['Counters']=listofzeros


#iterating over the list of numbers in the second column 
for number in full_input.loc[:,1]:
    try:
        counters.loc[number,'Counters']=counters.loc[number,'Counters']+1
    except:
        pass

counters

       Counters
92161         6
10242         0
79880         0
57354         9
55306         0
...         ...
40950         0
75766        20
57336         0
32766         0
79871         0

[1000 rows x 1 columns]

Now I can calculate the similarity score!

In [24]:
counters['Values']=list(counters.index) #Creating a separate column for the values
counters['Individual Similarity Scores']=counters['Values']*counters['Counters'] #individual similarity scores
similarity_score=sum(counters['Individual Similarity Scores'])
print(similarity_score)

22588371