The problem involves calculating the sum of the total absolute distances between numbers that are smallest/biggest. In the input matrix the numbers are not ordered according to how close they are to each other (first column to second column, that is). However, the distance can be calculated by opting for vectors instead of the absolute distances, with a positive vector formed by the number in the first column and the negative vector formed by the number in the second column. If the numbers are negative, the opposite numbers have to be used to quantify those vectors.

The columns do not have to be ordered because the total sum of the distances need to be calculated and the sum of the vectors will yield that anyway. The easiest way to imagine that is in the scenario where all of the numbers in the first column are greater than in the second column - whichever pair of the numbers is picked to calculate each distance, their sum will remain the same. 

THIS SOLUTION PROVED TO BE WRONG!

Solution 2:

I will just check how inefficient time-wise the sorting solution would be

In [19]:
import pandas as pd

#CREATING A DATAFRAME FROM THE INPUT FILE
full_input = pd.DataFrame([line.strip().split('   ') for line in open('input.txt', 'r')])
full_input = full_input.astype(int)
full_input

         0      1
0    18944  47230
1    94847  63037
2    93893  35622
3    37174  43365
4    77982  51397
..     ...    ...
995  83605  21276
996  51080  32589
997  16575  21128
998  31651  49166
999  66721  94774

[1000 rows x 2 columns]

In [28]:
#SORTING THE DATAFRAME
first_column_sorted=sorted(full_input.loc[:,0])
second_column_sorted=sorted(full_input.loc[:,1])
full_input.loc[:,'Sorted 0']=first_column_sorted
full_input.loc[:,'Sorted 1']=second_column_sorted
full_input.loc[:,'Absolute Difference']=abs(full_input.loc[:,'Sorted 0']-full_input.loc[:,'Sorted 1'])
total_distance=sum(full_input.loc[:,'Absolute Difference'])
print(total_distance)

1590491