First of all, I need to read off the input text to create a dataframe.

In [3]:
import pandas as pd

#CREATING A DATAFRAME FROM THE INPUT FILE
full_input = pd.DataFrame([line.strip().split(' ') for line in open('input.txt', 'r')])
full_input = full_input.astype(int,errors='ignore')
full_input

      0   1   2   3   4     5     6     7
0     1   2   4   7   9     8  None  None
1    43  44  47  49  49  None  None  None
2     6   7   9  11  13    14    18  None
3    34  35  38  39  42    48  None  None
4    73  76  79  80  82    85    83    86
..   ..  ..  ..  ..  ..   ...   ...   ...
995  96  94  91  90  88    86  None  None
996  53  54  55  57  60    61  None  None
997  21  24  27  29  30    33    34    36
998  17  20  23  25  26    29    31  None
999  85  86  89  92  94  None  None  None

[1000 rows x 8 columns]