The second problem might even be considered to be easier because I just have to find all the A's and calculate the number of S's and M's around each A in the diagonal directions. If the number of S's and M's are two each, then an X-MAS pattern is found!

In [1]:
import pandas as pd

def input_to_df(input_file_string):
    #list() needs to be used instead of split() because there is no separator
    input_df = pd.DataFrame([list(line.strip()) for line in open(input_file_string, 'r')])
    return input_df

In [2]:
small_input_df=input_to_df('small_input.txt')
small_input_df

   0  1  2  3  4  5  6  7  8  9
0  M  M  M  S  X  X  M  A  S  M
1  M  S  A  M  X  M  S  M  S  A
2  A  M  X  S  X  M  A  A  M  M
3  M  S  A  M  A  S  M  S  M  X
4  X  M  A  S  A  M  X  A  M  M
5  X  X  A  M  M  X  X  A  M  A
6  S  M  S  M  S  A  S  X  S  S
7  S  A  X  A  M  A  S  A  A  A
8  M  A  M  M  M  X  M  M  M  M
9  M  X  M  X  A  X  M  A  S  X

In [3]:
directions=['NE','NW','SE','SW']
hops=[[-1,1],[-1,-1],[1,1],[1,-1]]
column_names=['Row hop','Column hop']
directions_hops_df=pd.DataFrame(hops,index=directions,columns=column_names)
directions_hops_df

    Row hop  Column hop
NE       -1           1
NW       -1          -1
SE        1           1
SW        1          -1

In [11]:
def find_x_mas(df_input):
    no_rows,no_col = df_input.shape
    no_rows=no_rows-1
    no_col=no_col-1

    no_patterns_found=0
    for column_n,column_name in enumerate(df_input.columns):
        for row_n,row_name in enumerate(df_input.index):
            directions_hops_df=pd.DataFrame(hops,index=directions,columns=column_names)
            result=(df_input.iloc[row_n,column_n]=='A')
            no_s=0
            no_m=0
            if result == 1:
                for dir in directions_hops_df.index:
                    row_in_q=row_n+directions_hops_df.loc[dir,'Row hop']
                    col_in_q=column_n+directions_hops_df.loc[dir,'Column hop']
                    if (row_in_q > no_rows) or (row_in_q < 0) or (col_in_q < 0) or (col_in_q > no_col):
                        break
                    elif df_input.iloc[row_in_q,col_in_q]=='S':
                        no_s=no_s+1
                    elif df_input.iloc[row_in_q,col_in_q]=='M':
                        no_m=no_m+1
                    else:
                        pass
                if (no_s==2) and (no_m==2):
                    no_patterns_found=no_patterns_found+1
                else:
                    pass
            else:
                pass
    
    return no_patterns_found

In [12]:
small_answer=find_x_mas(small_input_df)
print(small_answer)

9

The answer to the example input seems to be correct, so I should calculate it for the full input!

In [13]:
full_input_df=input_to_df('input.txt')
print(find_x_mas(full_input_df))

1924

Wrong answer! Apparently it is too high!

That is because I forgot to consider the case when M's and S's are placed on the completely opposite ends of the A. This can be done by changing the order the directions are cycled through - if the first two directions are the opposite and collect the same letter, there should be a break clause in the loop because it means that they are on the opposite ends!

In [14]:
directions=['NE','SW','NW','SE']
hops=[[-1,1],[1,-1],[-1,-1],[1,1]]
column_names=['Row hop','Column hop']
directions_hops_df=pd.DataFrame(hops,index=directions,columns=column_names)
directions_hops_df

    Row hop  Column hop
NE       -1           1
SW        1          -1
NW       -1          -1
SE        1           1

In [15]:
def find_x_mas_2(df_input):
    no_rows,no_col = df_input.shape
    no_rows=no_rows-1
    no_col=no_col-1

    no_patterns_found=0
    for column_n,column_name in enumerate(df_input.columns):
        for row_n,row_name in enumerate(df_input.index):
            directions_hops_df=pd.DataFrame(hops,index=directions,columns=column_names)
            result=(df_input.iloc[row_n,column_n]=='A')
            no_s=0
            no_m=0
            if result == 1:
                for dir in directions_hops_df.index:
                    row_in_q=row_n+directions_hops_df.loc[dir,'Row hop']
                    col_in_q=column_n+directions_hops_df.loc[dir,'Column hop']
                    if (row_in_q > no_rows) or (row_in_q < 0) or (col_in_q < 0) or (col_in_q > no_col):
                        break
                    elif df_input.iloc[row_in_q,col_in_q]=='S':
                        no_s=no_s+1
                    elif df_input.iloc[row_in_q,col_in_q]=='M':
                        no_m=no_m+1
                    else:
                        pass

                    if (no_s==2) and (no_m==0):
                        break
                    elif (no_s==0) and (no_m==2):
                        break
                if (no_s==2) and (no_m==2):
                    no_patterns_found=no_patterns_found+1
                else:
                    pass
            else:
                pass
    
    return no_patterns_found

In [16]:
full_input_df=input_to_df('input.txt')
print(find_x_mas_2(full_input_df))

1873

Finally, the correct answer!